{% extends 'root/layout.html' %}
{% load static %}


{% block body %}
<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
        <div class="row">
            <div class="col-xl-12 mt-3">
                <div class="row">
                    <div class="col-lg-5 offset-lg-1 mb-4">
                        <div class="product-slider-3 owl-carousel owl-theme dot-none owl-nav-link edge-link">
                            
                            <div class="owl-items pt-lg--10 pb-lg--10 bg-white rounded-3"><img data-thumb="<img src='{{product.pic1.url}}' />" src="{{product.pic1.url}}" alt="icon"></div>
                            
                            {% if product.pic2 %}
                            <div class="owl-items pt-lg--10 pb-lg--10 bg-white rounded-3"><img data-thumb="<img src='{{product.pic2.url}}' />" src="{{product.pic2.url}}" alt="icon"></div>
                            {% endif %}
                                
                            
                            
                        </div>                        
                    </div>
                    <div class="col-lg-6  col-md-12 pad-top-lg-200 pad-bottom-lg-100 pad-top-100 pad-bottom-75 ps-md--5">
                        <h4 class="text-danger font-xssss fw-700 ls-2"></h4>
                        <h2 class="fw-700 text-grey-900 display1-size lh-3 porduct-title display2-md-size"> {{product.name}}</h2>
                        
                        <p class="review-link font-xssss fw-500 text-grey-500 lh-3">{{product.owner_type}} </p>
                        <div class="clearfix"></div>
                        <p class="font-xsss fw-400 text-grey-500 lh-30 pe-5 mt-3 me-5">{{product.details}}.</p>

                        <h6 class="display2-size fw-700 text-current ls-2 mb-2"><span class="font-xl">&#8377;</span>{{product.price}} </h6>
                        
                        <div class="clearfix"></div>
                        <form action="#" class="form--action mt-4 mb-3">
                            <div class="product-action flex-row align-items-center">
                                
                                
                                {% if product.seller.id != user.id %}
                                
                                {% if alreadyf %}
                                <a href="{% url 'chat:messages_page' %}" class="add-to-cart bg-dark text-white fw-700 ps-lg-5 pe-lg-5 text-uppercase font-xssss float-left border-dark border rounded-3 border-size-md d-inline-block mt-0 p-3 text-center ls-3">Send Message</a>    
                                {% else %}
                                <a href="{% url 'root:direct_msg_market' product.seller.id %}" class="add-to-cart bg-dark text-white fw-700 ps-lg-5 pe-lg-5 text-uppercase font-xssss float-left border-dark border rounded-3 border-size-md d-inline-block mt-0 p-3 text-center ls-3">Send Message</a>    
                                {% endif %}
                                    
                                
                                {% endif %}
                                    
                                
                                
                            </div>  
                        </form>
                        <div class="clearfix"></div>
                        
                    </div>
                </div> 
            </div>               
        </div>
    </div>
     
</div>    
{% endblock body %}
